<h1>Open Pairs</h1>

<ol>
<% @pairs.each do |p| %>
  <li><%= link_to "#{p.topic} from #{p.requestor_user.email}", pair_path(p) %></li>
<% end %>
</ol>

<!--
generate url using helper methods 

build a link
user experience pattern

routes helpers
methods for generating urls based on active record objects and their routes


CRUD PATTERN: (in a apartment listing example)
INDEX PAGE - all listings all things
SHOW PAGE - information about a particular listing
--->
